<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examle.curexchange">

    <uses-permission android:secondName="android.permission.INTERNET" />

    <application
        android:secondName=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:secondName=".ui.home.FirstCurrencyActivity">
            <intent-filter>
                <action android:secondName="android.intent.action.MAIN" />

                <category android:secondName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:secondName=".ui.second.SecondCurrencyActivity" />

        <provider
            android:secondName=".data.database.CurrencyProvider"
            android:authorities="com.example.currency_db" />

        <activity android:secondName=".ui.result.ExchangeResultActivity"></activity>
    </application>

</manifest>